td,
label,
input {
    color: #ccc;
}

@media screen and (max-width: 481px) {
    .textoCarruselIndex {
        font-size: smaller;
    }
}

@media screen and (max-width:1348px) {
    .mainIndex {
        width: 100%;
        flex-direction: column;
    }
    .imgIndex {
        width: 100%;
    }
    .parrafoIndex {
        display: flex;
        width: auto;
        text-align: center;
        justify-content: end;
    }
    .quienesSomos {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .galeria {
        width: 100%;
    }
    .parrafo {
        width: auto;
        text-align: center;
        justify-content: center;
    }
    @media screen and (max-width:891px) {
        .barraRedes {
            flex-direction: column;
            display: flex;
            width: 100%;
        }
        .h4Footer {
            width: 30%;
            text-align: center;
        }
        .barraRedes li {
            flex-direction: column;
            width: auto;
            align-items: center;
            margin-right: 3rem;
        }
    }
}