    @media screen and (max-width:1348px) {
        .quienesSomos {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
        }
        .galeria {
            width: 100%;
        }
    }