                                                  @media screen and(max-width:688px) {
                                                      main {
                                                          .carousel {
                                                              padding: 1rem;
                                                              .carousel-inner {
                                                                  .carousel-item {
                                                                      img {
                                                                          width: 700px;
                                                                          height: 500px;
                                                                      }
                                                                  }
                                                              }
                                                          }
                                                      }
                                                  }
                                                  
                                                  @media screen and(max-width:554px) {
                                                      main {
                                                          .carousel {
                                                              padding: 1rem;
                                                              .carousel-inner {
                                                                  .carousel-item {
                                                                      img {
                                                                          width: 500px;
                                                                          height: 300px;
                                                                      }
                                                                  }
                                                              }
                                                          }
                                                      }
                                                  }
                                                  
                                                  @media screen and (max-width:978px) {
                                                      main {
                                                          .divCasoExito {
                                                              img {
                                                                  height: 200px;
                                                                  width: 400px;
                                                                  margin: auto;
                                                                  padding: auto;
                                                              }
                                                          }
                                                      }
                                                  }
                                                  
                                                  @media screen and (max-width:768px) {
                                                      main {
                                                          .divCasoExito {
                                                              img {
                                                                  height: 350px;
                                                                  width: 620px;
                                                                  margin: auto;
                                                                  padding: auto;
                                                              }
                                                          }
                                                      }
                                                  }
                                                  
                                                  @media screen and (max-width:574px) {
                                                      main {
                                                          .divCasoExito {
                                                              img {
                                                                  height: 250px;
                                                                  width: 420px;
                                                                  margin: auto;
                                                                  padding: auto;
                                                              }
                                                          }
                                                      }
                                                  }
                                                  
                                                  @media screen and (max-width:440px) {
                                                      main {
                                                          .divCasoExito {
                                                              img {
                                                                  height: 200px;
                                                                  width: 380px;
                                                                  margin: auto;
                                                                  padding: auto;
                                                              }
                                                          }
                                                      }
                                                  }