.imagen-Nombre {
    display: flex;
    align-items: center;
}

.imagen-Nombre h3 {
    font-size: large;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
}

.cabeceraLogo {
    margin-left: 0.5rem;
    height: 7rem;
}

.navbar-nav {
    margin-left: 10rem;
}

.navbar-nav li {
    margin-right: 2rem;
    margin-left: 2rem;
}