                main {
                    .carousel {
                        padding: 1rem;
                        .carousel-inner {
                            .carousel-item {
                                img {
                                    width: 800px;
                                    height: 600px;
                                }
                                .carouselTextos {
                                    h5 {
                                        color: white;
                                        background-color: rgba(9, 10, 14, 0.5);
                                    }
                                    p {
                                        color: white;
                                        background-color: rgba(9, 10, 14, 0.5);
                                    }
                                }
                            }
                        }
                    }
                    .divTituloCasoExito {
                        h4 {
                            text-align: center;
                            color: white;
                            margin-top: 0.5rem;
                        }
                    }
                    .divCasoExito {
                        img {
                            height: 300px;
                            width: 533px;
                            margin: auto;
                            padding: auto;
                        }
                    }
                }